@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #c7bdbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c7bdbd;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-card {
  display: block;
  width: 60vh;
  height: 40vh;
  background-color: wheat;
}

.title-block {
  display: flex;
  width: auto;
  height: 30%;
  background-color: steelblue;
}

.response-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: auto;
  height: 70%;
}

.yes-button {
  background-color: aqua;
  padding: 10px 40px;
  margin-right: 50px;
  height: fit-content;
}

.no-button {
  background-color: green;
  padding: 10px 40px;
  height: fit-content;
}